includeConfig 'config/params.config'

process {
	executor = 'awsbatch'
    queue = 'nextflow_excess'
    memory = '16 GB'
    cpus = 8
    container = 'nfcore/sarek:latest'
    containerOptions = '--shm-size 16000000 --memory-swap 240000 --memory-swappiness 20 --ulimit nofile=1280:2560 --ulimit nproc=16:32 --privileged'
}

aws {
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
    region = 'ap-southeast-2'
}