params {
    outdir = 's3://vx-nf-bucket/nf_rna/results'
    outdir2 = 's3://vx-nf-bucket/nf_chipseq/results'
    outdir3 = 's3://vx-nf-bucket/nf_wes/results'
    hisat2_index = 's3://vx-nf-bucket/reference/grch38_tran'
    bowtie2_index = 's3://vx-nf-bucket/reference/grch38_bowtie2'
    annotation = 's3://vx-nf-bucket/reference/hg38.knownGene.gtf'
    bwa_idx = 's3://vx-nf-bucket/reference/bwa_index/grch38.*'
    hg38_genome = 's3://vx-nf-bucket/reference/grch38.fna.gz'
    hg38_genome_unzip = 's3://vx-nf-bucket/reference/grch38.fna'
    ref_variant = 's3://vx-nf-bucket/reference/ref_variant/common_all_20180418.vcf'
}

docker {
    enabled = true
}
