params {
    outdir = 's3://vx-nf-bucket/nf_rna/results'
    outdir2 = 's3://vx-nf-bucket/nf_chipseq/results'
    hisat2_index = 's3://vx-nf-bucket/nf_rna/reference/grch38_tran'
    annotation = 's3://vx-nf-bucket/nf_rna/reference/hg38.knownGene.gtf'
    bowtie2_index = 's3://vx-nf-bucket/nf_chipseq/reference/grch38_bowtie2'
}

docker {
    enabled = true
}
